<div class="container">
  <div class="row">
    <div class="col-md-12">
    <div class="form-group row">
      <label class="col-2 col-form-label">Busqueda:</label>
        <input [(ngModel)]="terminoBusqueda" (keyup)="buscarArtista()"
        class="form-control" type="text" value="" name="terminoBusqueda" placeholder="Nombre de Artista o Banda">
    </div>
    <hr/>
    </div>
  </div>

  <app-loading *ngIf="isLoading"></app-loading>

  <div class="card-columns">

    <app-tarjeta [items]="artistas"></app-tarjeta>
    
  </div>


</div>


